In [1]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append("/app")

import pandas as pd

from classes.browser_interface import BrowserInterface

In [2]:
browser = BrowserInterface(
    option_args=[
        "no-sandbox", 
        "disable-dev-shm-usage", 
        "remote-debugging-port=9222", 
        "user-data-dir=/app/browser_data",
        "no-gpu" 
    ],
    js_snippets=["/app/javascript/socketListener.js"],
)

browser.open("https://www.tradingview.com/chart")

In [4]:
browser.get_symbols()

{'AUDUSD': <selenium.webdriver.remote.webelement.WebElement (session="b670ef59864c660bbf54cac4c3d1aa51", element="F0B28D9CB8DDBF1F3F4A082FF572F1DB_element_65")>,
 'EURUSD': <selenium.webdriver.remote.webelement.WebElement (session="b670ef59864c660bbf54cac4c3d1aa51", element="F0B28D9CB8DDBF1F3F4A082FF572F1DB_element_66")>,
 'EURGBP': <selenium.webdriver.remote.webelement.WebElement (session="b670ef59864c660bbf54cac4c3d1aa51", element="F0B28D9CB8DDBF1F3F4A082FF572F1DB_element_67")>,
 'GBPUSD': <selenium.webdriver.remote.webelement.WebElement (session="b670ef59864c660bbf54cac4c3d1aa51", element="F0B28D9CB8DDBF1F3F4A082FF572F1DB_element_68")>,
 'NZDUSD': <selenium.webdriver.remote.webelement.WebElement (session="b670ef59864c660bbf54cac4c3d1aa51", element="F0B28D9CB8DDBF1F3F4A082FF572F1DB_element_69")>,
 'USDJPY': <selenium.webdriver.remote.webelement.WebElement (session="b670ef59864c660bbf54cac4c3d1aa51", element="F0B28D9CB8DDBF1F3F4A082FF572F1DB_element_70")>,
 'USDCAD': <selenium.webdriver.remote.webelement.WebElement (session="b670ef59864c660bbf54cac4c3d1aa51", element="F0B28D9CB8DDBF1F3F4A082FF572F1DB_element_71")>}

In [5]:
browser.change_symbol("AUDUSD")

In [6]:
browser._get_chart_data()["symbol"]

'AUDUSD'

In [9]:
chart_data = browser._get_chart_data()["chart"]
df = pd.DataFrame(chart_data, columns=("time", "open", "high", "low", "close", "volume"))
df.time = pd.to_datetime(df.time, unit="s")

df

                   time     open     high       low    close  volume
0   2023-08-10 13:00:00  0.65854  0.65886  0.656280  0.65842    6822
1   2023-08-10 14:00:00  0.65842  0.65877  0.655390  0.65591    5628
2   2023-08-10 15:00:00  0.65591  0.65612  0.655100  0.65564    4186
3   2023-08-10 16:00:00  0.65564  0.65588  0.654800  0.65506    2819
4   2023-08-10 17:00:00  0.65506  0.65514  0.652040  0.65224    3563
..                  ...      ...      ...       ...      ...     ...
295 2023-08-28 20:00:00  0.64280  0.64297  0.642680  0.64296     324
296 2023-08-28 21:00:00  0.64296  0.64296  0.642360  0.64288    1464
297 2023-08-28 22:00:00  0.64288  0.64334  0.642780  0.64318     603
298 2023-08-28 23:00:00  0.64318  0.64336  0.642755  0.64282     860
299 2023-08-29 00:00:00  0.64282  0.64340  0.642280  0.64257    1744

[300 rows x 6 columns]