In [1]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append("/app")

import pandas as pd

from classes.browser_interface import BrowserInterface

In [2]:
browser = BrowserInterface(
    option_args=[
        "no-sandbox", 
        "disable-dev-shm-usage", 
        "remote-debugging-port=9222", 
        "user-data-dir=/app/browser_data",
        "no-gpu" 
    ],
    js_snippets=["/app/javascript/socketListener.js"],
)

browser.open("https://www.tradingview.com/chart")

In [4]:
browser.get_symbols()

{'AUDUSD': <selenium.webdriver.remote.webelement.WebElement (session="b76aeb999a7552f13d1c441f6fb4ba2c", element="93A338C45E17330D457B71087CAD5EFE_element_334")>,
 'EURUSD': <selenium.webdriver.remote.webelement.WebElement (session="b76aeb999a7552f13d1c441f6fb4ba2c", element="93A338C45E17330D457B71087CAD5EFE_element_335")>,
 'EURGBP': <selenium.webdriver.remote.webelement.WebElement (session="b76aeb999a7552f13d1c441f6fb4ba2c", element="93A338C45E17330D457B71087CAD5EFE_element_336")>,
 'GBPUSD': <selenium.webdriver.remote.webelement.WebElement (session="b76aeb999a7552f13d1c441f6fb4ba2c", element="93A338C45E17330D457B71087CAD5EFE_element_337")>,
 'NZDUSD': <selenium.webdriver.remote.webelement.WebElement (session="b76aeb999a7552f13d1c441f6fb4ba2c", element="93A338C45E17330D457B71087CAD5EFE_element_338")>,
 'USDJPY': <selenium.webdriver.remote.webelement.WebElement (session="b76aeb999a7552f13d1c441f6fb4ba2c", element="93A338C45E17330D457B71087CAD5EFE_element_339")>,
 'USDCAD': <selenium.webdriver.remote.webelement.WebElement (session="b76aeb999a7552f13d1c441f6fb4ba2c", element="93A338C45E17330D457B71087CAD5EFE_element_340")>}

In [20]:
browser.change_symbol("USDJPY")

In [21]:
chart_data = browser._get_chart_data()
df = pd.DataFrame(chart_data, columns=("time", "open", "high", "low", "close", "volume"))
df.time = pd.to_datetime(df.time)

df

                             time     open      high      low    close  volume
0   1970-01-01 00:00:01.691622000  143.668  143.7620  143.636  143.721    2324
1   1970-01-01 00:00:01.691625600  143.721  143.8910  143.689  143.808    6521
2   1970-01-01 00:00:01.691629200  143.808  143.8480  143.735  143.776    6825
3   1970-01-01 00:00:01.691632800  143.776  143.8920  143.750  143.851    5809
4   1970-01-01 00:00:01.691636400  143.851  143.8850  143.838  143.880    4721
..                            ...      ...       ...      ...      ...     ...
295 1970-01-01 00:00:01.693202400  146.392  146.4070  146.274  146.344    3385
296 1970-01-01 00:00:01.693206000  146.344  146.5500  146.312  146.550    4388
297 1970-01-01 00:00:01.693209600  146.550  146.6000  146.489  146.540    4153
298 1970-01-01 00:00:01.693213200  146.540  146.6025  146.512  146.552    3863
299 1970-01-01 00:00:01.693216800  146.552  146.5905  146.508  146.526    1774

[300 rows x 6 columns]